fields:
  - name: Ano Monitoramento
    target: ano
    type: integer
  - name: Mês Inicial
    target: mes_inicial
    type: integer
  - name: Mês Final
    target: mes_final
    type: integer
  - name: Setor de Governo
    target: setor_governo
    type: string
  - name: Código do Programa
    target: programa_cod
    type: integer
  - name: Nome do Programa
    target: programa_desc
    type: string
  - name: Código da Unidade Orçamentária Responsável pelo Programa
    target: uo_programa_cod
    type: integer
  - name: Unidade Orçamentária Responsável pelo Programa
    target: uo_programa_nome
    type: string
  - name: Código da Unidade Orçamentária Responsável pela Ação
    target: uo_acao_cod
    type: integer
  - name: Unidade Orçamentária Responsável pela Ação
    target: uo_acao_nome
    type: string
  - name: Código da Área Temática
    target: area_tematica_cod  
    type: integer
  - name: Área Temática
    target: area_tematica_desc  
    type: string
  - name: Código da Função
    target: funcao_cod  
    type: integer
  - name: Função
    target: funcao_desc  
    type: string
  - name: Código da Subfunção
    target: subfuncao_cod  
    type: integer
  - name: Subfunção
    target: subfuncao_desc  
    type: string
  - name: Código da Ação
    target: acao_cod  
    type: integer
  - name: Título da Ação
    target: acao_desc  
    type: string
  - name: Meta não cumulativa?
    target: is_meta_cumulativa
    type: boolean
    trueValues: ['SIM']
    falseValues: ['NÃO']
  - name: Código do Tipo de Ação
    target: identificador_tipo_acao_cod  
    type: integer
  - name: Tipo de Ação
    target: identificador_tipo_acao_desc  
    type: string
  - name: Finalidade da Ação
    target: acao_finalidade  
    type: string
  - name: Código do Identificador de Ação Governamental (IAG)
    target: iag_cod  
    type: integer
  - name: Identificador de Ação Governamental (IAG)
    target: iag_desc  
    type: string
  - name: Código do Projeto Estratégico
    target: projeto_estrategico_cod  
    type: any
  - name: Projeto Estratégico
    target: projeto_estrategico_desc  
    type: any
  - name: Código do Público-alvo
    target: publico_alvo_cod  
    type: integer
  - name: Público-alvo
    target: publico_alvo_desc  
    type: string
  - name: Código do Produto
    target: produto_cod  
    type: integer
  - name: Produto
    target: produto_desc  
    type: string
  - name: Código da Unidade de Medida do Produto
    target: produto_unidade_medida_cod  
    type: integer
  - name: Unidade de Medida do Produto
    target: produto_unidade_medida_desc  
    type: string
  - name: Código da Região Geográfica Intermediária
    target: regiao_geografica_intermediaria_cod
    type: integer
  - name: Região Geográfica Intermediária
    target: regiao_geografica_intermediaria_desc    
    type: string
  - name: Código do Município IBGE
    target: municipio_cod_ibge
    type: integer
  - name: Código do Município Sigplan
    target: municipio_cod_sigplan
    type: integer
  - name: Município
    target: municipio_desc
    type: string
  {% for month in months %}
  - name: Desp. Realizada Investimento {{ month }}
    target: vlr_despesa_realizada_investimento_{{ month|lower }}
    type: number
    decimalChar: ","
  - name: Desp. Realizada Outros {{ month }}
    target: vlr_despesa_realizada_outros_{{ month|lower }}
    type: number
    decimalChar: ","
  - name: Desp. Realizada Pessoal e Auxílios {{ month }}
    target: vlr_despesa_realizada_pessoal_auxilios_{{ month|lower }}
    type: number
    decimalChar: ","
  - name: Desp. Realizada {{ month }}
    target: vlr_despesa_realizada_{{ month|lower }}
    type: number
    decimalChar: ","
  {% endfor %}
  - name: Despesa Realizada Investimento {{ period }}
    target: vlr_despesa_realizada_investimento
    type: number
    decimalChar: ","
  - name: Despesa Realizada Outros {{ period }}
    target: vlr_despesa_realizada_outros
    type: number
    decimalChar: ","
  - name: Despesa Realizada Pessoal e Auxílios {{ period }}
    target: vlr_despesa_realizada_pessoal_auxilios
    type: number
    decimalChar: ","
  - name: Despesa Realizada Total {{ period }}
    target: vlr_despesa_realizada
    type: string
  - name: Previsão Física Inicial
    target: vlr_previsao_fisica_inicial
    type: integer
  {% for month in months %}
  - name: Fis Realizado {{ month }}
    target: vlr_fisico_realizado_{{ month|lower }}
    type: integer
  {% endfor %}
  - name: Realização Física {{ period }}
    target: vlr_fisico_realizado
    type: integer
  {% for month in months %}
  - name: Pessoa Remunerada {{ month }}
    target: vlr_pessoa_remunerada_{{ month|lower }}
    type: integer
  {% endfor %}
  - name: ""
    target: empty_column
    type: any
